$cols: 12;
$gutter: 20px; // espaço de cada lado;

@function grid($col) { // offset é caso sobre alguma coluna;
  $width: $col / $cols * 100%;
  $result: $width;

  @return $result;
} 

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;

  @include mediaQuery(sm) {
    display: block;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* BREAKPOINT 576px */
@media (min-width: 36em) {
  .container {
    max-width: 540px;
  }
}

/* BREAKPOINT 768px */
@media (min-width: 48em) {
  .container {
    max-width: 720px;
  }
}

/* BREAKPOINT 992px */
@media (min-width: 62em) {
  .container {
    max-width: 960px;
  }
}

/* BREAKPOINT 1200px */
@media (min-width: 75em) {
  .container {
    max-width: 1240px;
  }
}