body {
  background-color: var(--primary);
  border: var(--border-bold) var(--secondary);
  border-bottom: none;  

  @include mediaQuery(lg) {
    border: none;
  }
}

img {
  max-width: 100%;
  display: block;
}