.section-main {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 320px grid(7);
  
  grid-gap: 40px;
  margin: 60px auto;
  padding: 8px;

  @include mediaQuery(lg) {
    grid-template-columns: 1fr 1fr;
  }

  @include mediaQuery(md) {
    grid-template-columns: 1fr;
  }

  &__content {
    display: grid;
    grid-template-rows: max(150px) max(140px) 30px;
  
    gap: 22px;
    
    font-size: var(--font-normal);
    font-weight: lighter;
    line-height: 1.8;
  
    .section-main__logo {
      width: grid(9);
      grid-row: 1 / 1;
      margin-bottom: 60px;
      /* flex */
    }
  
    .section-main__info{
      grid-row: 2 / 2;
      
      p {
        border-right: 2px  solid var(--brown);
        padding-top: 10px;
        padding-bottom: 10px;
      }
    
      /* text */
      p:first-child {
        border-bottom: 2px  solid var(--brown);
      }

      
    }
  
    .section-main__call {
      grid-row: 3;
      color: var(--dark-gray);
    
      &::after {
        content: '/ / / /';
        color: var(--brown);
    
        display: block;
        margin: 60px auto;
    
        font-size: 180px;
        letter-spacing: -70px;
  
        @media(max-width: $lg) {
          display: none;
        }
        
      }
    }
  }

  &__image {
    width: 100%;
    border: 10px solid #cbc6b9;
  }
}

