.section-menu {
  @extend .flex-center;
  align-items: flex-start;
  justify-content: space-between;

  margin: 60px auto;

  @include mediaQuery(md) {
    width: 100%;
    flex-direction: column;
  } 
}

.section-menu .section-menu__cards {
  width: grid(8);
  display: flex;
  flex-direction: column;

  @include mediaQuery(lg) {
    width: 100%;
  }

  .card-menu {
    display: flex;
    justify-content: space-around;

    margin-bottom: 40px;

    .card-menu__title {
      font-family: var(--font-2);
      margin-bottom: 8px;

      @extend .flex-center;
      @extend .font-md;
    }

    .card-menu__list {
      font-family: var(--font-1);
      color: var(--brown);
      padding: 20px;

      @extend .font-normal;
      .price {
        color: var(--dark-gray);
      }
    }

    .card-menu__image {
      display: flex;
      align-items: flex-end;

      img {
        border: var(--border-bold) var(--secondary);
        border-radius: 50%;
      }

      @include mediaQuery(sm) {
        display: none;
      }
    }
  }
}
